.jambo {
  background-image: url("/assets/images/image19.jpg");
  background-repeat: no-repeat;
  padding: 25% 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.transbox {
  margin: 30px;
  background-color: #FAF6F2;
  border: 1px solid black;
  opacity: 0.7;
}
.transbox p, button {
  margin: 5%;
  font-weight: bold;
  color: #C81D4C;
  font-family: 'Marck Script', cursive;
  font-size: 1.6em;
}
