<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron jambo">
        <h1>Факти про їжу</h1>
        <p>Читайте про те, чим полюбляють ласувати в різних куточках нашої планети.
          Дізнайтеся про кухні народів світу, зокрема, про страви української кухні!
          Для всіх гурманів та не тільки – цікаві факти про кухні світу!</p>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <h2>Кухня Італії</h2>
          <p>Італія подарувала світу безліч неймовірно смачних і різноманітних страв.
            Мільйони людей починають день з чашки кави еспресо, готують на обід спагетті,
            замовляють піцу… Для самих італійців їжа – це свято життя, а не мистецтво кухаря.
            За трапезою вони можуть поводити години, насолоджуючись кожною стравою.</p>
          <p><a class="btn btn-default" routerLink="/about-italien" role="button">Детальніше! &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <h2>Кухня Японії</h2>
          <p>Як ви вже здогадалися, в Японії їдять все — засушені і зацукровані коники і навіть змій.
            У їжу удет все розмаїття овочів та фруктів, які часто приправляють пелюстками квітів.
            Грибами і водоростями, а також молюсками теж ніхто не гребує. З них навіть готують напої.
            Немає рівних за багатством у світі японському раціону. </p>
          <p><a class="btn btn-default" routerLink="/about-japan" role="button">Детальніше! &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="" role="button">View details &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
      </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->
  </div><!--/row-->


</div>
