h1, h2 {
  font-family: 'Marck Script', cursive;
  color: #F41979;
}
p {
  font-family: 'Neucha', cursive;
}

.nav2 {
  background: linear-gradient(#F41979, #4F454F);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

