<!--каруселька-->

<div class="container jumbotron">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/images/italia_1.jpg" alt="italia">
      </div>

      <div class="item">
        <img src="assets/images/italia_2.jpg" alt="italia">
      </div>

      <div class="item">
        <img src="assets/images/italia_3.jpg" alt="italia">
      </div>

      <div class="item">
        <img src="assets/images/italia_4.jpg" alt="italia">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!--кінець карусельки-->

<div class="jumbotron jambo">
  <div class="kuchnia">
    <h1>Кухня Італії</h1>
    <p>В Італії справжній культ їжі і для італійця їжа – свято життя. Про їжу можуть
      розмовляти годинами – по телефону, на вулиці, і звичайно, за столом</p>
    <p>Вона визнана не тільки однією з кращих в світі, але й однією з наймодніших в
      даний час. Кухня Італії включає найрізноманітніші продукти харчування: овочі, рибу,
      морепродукти, яловичину, нежирну свинину, птицю, сир, бобові, рис, фрукти та ягоди.
      Для приготування страв італійські кулінари використовують багато різноманітних спецій і приправ.
      Причому вони віддають перевагу не варити продукти, а тушити у власному соку або з додаванням оливкової
      олії і вина, щоб якнайкраще передати аромат і специфічний смак того або іншого продукту.</p>
    <div>
      <h2>Паста</h2>
      <iframe class="float_left" width="500" height="281" src="https://www.youtube.com/embed/2-n0kHH3TQQ"
              allowfullscreen></iframe>
      <p>Кухню Італії можна охарактеризувати, як “Тисяча страв з тіста“. До основних страв з тіста належать
        різновиди страв: макарони, лазанья, равіолі. Всі ці страви мають право називатися пастою! І кожний
        підвид пасти має безліч варіантів приготування, безліч начинок і смаків. Уявити важко, скільки часу
        потрібно прожити в Італії, щоб спробувати більшу частину з усіх пропозицій італійської кухні.</p>
      <p>
        Національною стравою Італії є макарони. З макаронних виробів можна виділити спагеті, букатіні, вермічелі,
        капелліні. Головне в приготуванні – соус і тертий італійський сир, зазвичай це пармезан. Різновидів соусів
        і варіантів приготування існує дуже багато. В деяких регіонах Італії є багато пропозицій з морепродуктами
        (мідії, креветки).
      </p>
    </div>
    <div class="clearfix media">
      <h2>Равіолі</h2>
      <iframe class="float_right" width="500" height="281" src="https://www.youtube.com/embed/TlS-Y0xJyJ0"
              allowfullscreen></iframe>
      <p>
        Mожна сказати, що равіолі - це “Італійські вареники”. Невеликі, квадратної або овальної, чи круглої форми,
        вироби з тіста з начинкою. Є різновидністю італійської пасти. Равіолі і тортеліні (більше схожі на пельмені)
        бувають з різноманітною начинкою.
      </p>
    </div>
  </div>
</div>


