#myCarousel {
  max-height: 400px;
  margin: 0 auto;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}
.jambo {
  background-image: url(/assets/images/image12.jpg);
  /*background-color: #F9E5DA  ;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.kuchnia {
  margin-bottom: 200px;
}
h1, h2 {
  font-family: 'Marck Script', cursive;
  color: #F41979;
}
p {
  font-family: 'Neucha', cursive;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.float_left {
  width: 40%;
  float: left;
  margin-right: 3em;
  border: 3px inset #F41979  ;
  border-radius: 7px;
}
.float_right {
  width: 40%;
  float: right;
  margin-left: 3em;
  border: 3px solid #F41979 ;
  border-radius: 7px;
}

