p {
  font-family: 'PT Serif', serif;
  font-size: 1.1em;
  font-weight: 500;
}

.jambo {
  background-image: url(/assets/images/image5a.jpg);
  background-position: right bottom, left top;
  background-repeat: no-repeat repeat;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.colors {
  color: #FFF9F6;
  margin-left: 30px;
}
h1, h2 {
  font-family: 'Marck Script', cursive;
}

