 <h1>
    Чи правильно ви їсте???
 </h1>

 <div class="radio">
   <p>Ви прийшли з роботи додому. Скільки часу проходить перед тим, як ви сідаєте за стіл?</p>
   <label for="ask1"><input type="radio" name="ask1" id="ask1" value="a" checked> годину-півтора;</label><br>
   <label><input type="radio" name="ask1" id="ask1" value="b"> від півгодини до години;</label><br>
   <label><input type="radio" name="ask1" id="ask1" value="c"> відразу намагаєтеся що-небудь перекусити.</label><br>
 </div>
 <div class="radio">
   <label>
     <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
     Option two can be something else and selecting it will deselect option one
   </label>
 </div>
 <div class="radio disabled">
   <label>
     <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
     Option three is disabled
   </label>
 </div>
