 <h1>
    Чи правильно ви їсте???
 </h1><br>

 <div class="radio">
   <p>Ви прийшли з роботи додому. Скільки часу проходить перед тим, як ви сідаєте за стіл?</p>
   <label><input type="radio" name="1" value="a">годину-півтора;</label><br>
   <label><input type="radio" name="1" value="b">від півгодини до години;</label><br>
   <label><input type="radio" name="1"  value="c">відразу намагаєтеся що-небудь перекусити.</label><br>
 </div><br>
 <div class="radio">
   <p>Найчастіше під час прийому їжі ви: </p>
   <label><input type="radio" name="2" value="a">дотримуєтеся правила: «Коли я їм, я глухий і німий»;</label><br>
   <label><input type="radio" name="2" value="b">відволікаєтеся на розмови; </label><br>
   <label><input type="radio" name="2"  value="c">дивитися телевізор, читаєте пресу</label><br>
 </div><br>
 <div class="radio">
   <p>Ретельно ви пережовуєте їжу?</p>
   <label><input type="radio" name="3" value="a">так, ретельно; </label><br>
   <label><input type="radio" name="3" value="b">в залежності від часу, який я маю;</label><br>
   <label><input type="radio" name="3" value="c">ні.</label><br>
 </div><br>
 <div class="radio">
   <p>Зазвичай після прийому гарячої їжі ви відразу переходите до чаювання?</p>
   <label><input type="radio" name="4" value="a">ні, відкладаю чаювання на півгодини-годину;</label><br>
   <label><input type="radio" name="4" value="b">по-різному;</label><br>
   <label><input type="radio" name="4" value="c">так, відразу. </label><br>
 </div><br>
 <div class="radio">
   <p>Як правило, з-за столу ви встаєте, відчуваючи:</p>
   <label><input type="radio" name="5" value="a">легкий голод; </label><br>
   <label><input type="radio" name="5" value="b">насиченість;</label><br>
   <label><input type="radio" name="5" value="c">дискомфорт, викликаний переїданням.</label><br>
 </div><br>
 <div class="radio">
   <p>Скільки чашок міцного чаю або кави в середньому випиваєте протягом доби?</p>
   <label><input type="radio" name="6" value="a">від однієї до трьох чашок; </label><br>
   <label><input type="radio" name="6" value="b">від чотирьох до шести;</label><br>
   <label><input type="radio" name="6" value="c">понад шість чашок. </label><br>
 </div><br>
 <div class="radio">
   <p>Чи дотримуєтеся правила: «Протягом дня не обмежувати себе в їжі, але їсти малими порціями»?</p>
   <label><input type="radio" name="7" value="a">так;</label><br>
   <label><input type="radio" name="7" value="b">правило мені відомо, але дотримуюся цього не завжди;</label><br>
   <label><input type="radio" name="7" value="c">ні, не дотримуюсь.</label><br>
 </div><br>
 <div class="radio">
   <p>Чи часто харчуєтеся "всухом'ятку"? </p>
   <label><input type="radio" name="8" value="a">ніколи; </label><br>
   <label><input type="radio" name="8" value="b">рідко; </label><br>
   <label><input type="radio" name="8" value="c">часто.</label><br>
 </div><br>
 <div class="radio">
   <p>Дотримуєтеся принципів роздільного харчування? </p>
   <label><input type="radio" name="9" value="a">так; </label><br>
   <label><input type="radio" name="9" value="b">іноді, але в цілому не надаю цьому великого значення; </label><br>
   <label><input type="radio" name="9" value="c">ні</label><br>
 </div><br>
 <div class="radio">
   <p>За який час до сну припиняєте прийом їжі? </p>
   <label><input type="radio" name="10" value="a">після шостої години ввечорі не їм; </label><br>
   <label><input type="radio" name="10" value="b">за дві-три години до сну;  </label><br>
   <label><input type="radio" name="10" value="c">інколи трапляється,що їм перед сном.</label><br>
 </div>

 <button (click)="myFunction()">click me</button>

 <p id="demo">kdsjf</p>


